<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3 px-3">
            <%= render 'users/user_info', user: @user %>
            <%= render 'new_book', new_book: @new_book %>
        </div>
        <div class="col-md-8 offset-md-1">
            <h1>Book detail</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                           <%= image_tag @book.user.get_profile_image(100,100)%><br>
                           <%= link_to @book.user.name, user_path(@book.user.id) %>
                        </td>
                        <td><%= link_to @book.title, book_path %></td>
                        <td><%= @book.body %></td>
                        <% if @book.user == current_user %>
                            <td><%= link_to 'Edit', edit_book_path, class: 'btn btn-success' %></td>
                            <td><%= link_to 'Destroy', book_path(@book), method: :delete, class: 'btn btn-danger' %></td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

