

<h1>Book detail</h1>

<%= image_tag @book.user.get_profile_image(80,80) %>
<%= link_to @book.user.name, books_path %>

<%= link_to @book.title, book_path %>

<%= @book.body %>

<% if @book.user == current_user %>
    <%= link_to 'Edit', edit_book_path %>
    <%= link_to 'Destroy', book_path(@book), method: :delete %>
<% end %>

